name: iOS starter workflow

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build and Test default scheme using any available iPhone simulator
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Test
        run: |
          xcodebuild test-without-building -scheme "ExpedientManagerTests" "-workspace" "ExpedientManager.xcworkspace" -destination "platform=iOS,name=Any iOS Device"
          echo "Test completed"